body{
  background-color:black;
}

.exc {
  height: auto;
  width: 100%;
}


body {margin:0;}

.icon-bar {
  width: 100%;
  background-color: ;
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 16%;
  text-align: center;
  padding: 5px 0px;
  border-radius:12px;
  transition: all 0.3s ease;
  color: white;
  font-size: 30px;
}

.icon-bar a:hover {
  background-color: MediumSeaGreen;
}

.active {
  background-color: dodgerblue;
}



.ssc_cover, .hsc_cover{
  height:auto;
  width: 100%;
}



.btn-size {
  display: inline-block;
  width: 100%;
  border: none;
  background-color: red;
  color:white;
  padding: 7px 15px;
  margin-bottom:20px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  border-radius:15px;
  
  
}


.btn-size:hover{
  background-color:dodgerblue;
}


#text {
  color: gold;
  text-align: center;
  font-size: 40px;
  font-family: "Audiowide", sans-serif;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 8px darkblue;
}

.text_color {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.color{
  color: red;
}

.background_color:hover {
  background-color: blue;
}
