body{
  background-color:black;
}


img{
  height:315px;
  weight:330px;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {margin:0;}

.icon-bar {
  width: 100%;
  background-color: ;
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 16%;
  text-align: center;
  padding: 5px 0px;
  border-radius:12px;
  transition: all 0.3s ease;
  color: white;
  font-size: 30px;
}

.icon-bar a:hover {
  background-color: MediumSeaGreen;
}


.back_icon a{
  color:MediumSeaGreen;
  font-size:40px;
}

.next_icon a{
  float:right;
  color:MediumSeaGreen;
  font-size:40px;
  
}


.qos, .quiz{
  height: auto;
  width: 100%;
}

.active {
  background-color: dodgerblue;
}






.btn {
  display: inline-block;
  width: 100%;
  border: none;
  background-color: red;
  color:white;
  padding: 7px 15px;
  margin-bottom:20px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  border-radius:15px;
  
  
}


.btn:hover{
  background-color:dodgerblue;

}







.container {
  color: white;
  margin: 0 auto;
  text-align: center;
  font-family: 'Lobster', cursive;
}

#headline{
  font-size: 38px;
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: none;
  Color: dodgerblue;

}

#headline02 {
  font-size: 38px;
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: none;
  Color: red;

}

li {
  display: inline-block;
  font-size: 1rem;
  list-style-type: none;
  padding: 1em;
  text-transform: none;
  color: white;
  background-color: purple;
  border-radius: 25px;
}

li span {
  display: block;
  font-size: 4.5rem;

}

.emoji {
  display: none;
  padding: 1rem;
}

.emoji02 {
  display: none;
  padding: 1rem;
}

#emoji02{
  color: orangered;
  font-size: 30px;
}



#days,
#hours,
#minutes,
#seconds {
  font-size: 40px;
 
}


#day,
#hour,
#minute,
#second {
  font-size: 40px;
  color: white;
 
}



