body {
  background-color: black;
}


.sbc{
  height:auto;
  width:100%;
}


body {
  margin: 0;
}

.icon-bar {
  width: 100%;
  background-color: ;
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 16%;
  text-align: center;
  padding: 5px 0px;
  border-radius: 12px;
  transition: all 0.3s ease;
  color: white;
  font-size: 30px;
}

.icon-bar a:hover {
  background-color: MediumSeaGreen;

}

.active {
  background-color: dodgerblue;
}



.mht, .soap, .en, .ict, .physics, .chemistry, .biology{
  height: auto;
  width: 100%;
}


.mhtr, .soapr, .enr, .ictr, .physicsr, .chemistryr, .biologyr{
  text-align:center;
  font-size:35px;
  
}

a:link {
  text-decoration: none;
}


b{
  color:AntiqueWhite;
}

b:hover{
  color:Aqua;
  text-decoration:underline;

}