/* Add all your styles here */
body{
  background-image:url(./allpic/background_photo.gif);
  background-repeat:no-repeat;
  background-position:top;
  background-size: 100%;
  
}

.smp{
  height:180px;
  width:180px;
}



  


body{
  background-color:black;
}




body {margin:0;}

.icon-bar {
  width: 100%;
  background-color: ;
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 16%;
  text-align: center;
  padding: 7px 0px;
  border-radius:12px;
  transition: all 0.3s ease;
  color: white;
  font-size: 30px;
}

.icon-bar a:hover {
  background-color: MediumSeaGreen;
}

.active {
  background-color: dodgerblue;
}






/*#clock{
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #10101E;
}

.datetime{
  color: #fff;
  background: #10101E;
  font-family: "Segoe UI", sans-serif;
  width: 330px;
  padding: 15px 10px;
  border: 3px solid #2E94E3;
  border-radius: 5px;
  
}

.datetime:hover{
  background: #2E94E3;
  box-shadow: 0 0 30px #2E94E3;
}

.date{
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}

.time{
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time span:not(:last-child){
  position: relative;
  margin: 0 6px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}

.time span:last-child{
  background: #2E94E3;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 10px;
  padding: 0 5px;
  border-radius: 3px;
}*/
      







.sbc, .vdc, .evc, .exc, .auc{
  height:auto;
  width:100%;
}


.sb, .vd, .ev, .ex, .au{
  text-align:center;
  font-size:40px;
  
  
}

a:link {
  text-decoration: none;
}


b{
  color:Chartreuse;
}

b:hover{
  color:dodgerblue;
  text-decoration:underline;

}





















  
