/* Add all your styles here */
body{
  background-image:url(./allpic/background_photo.gif);
  background-repeat:no-repeat;
  background-position:top;
  background-size: 100%;
  
}

.smp{
  height:180px;
  width:180px;
}



  


body{
  background-color:black;
}




body {margin:0;}

.icon-bar {
  width: 100%;
  background-color: ;
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 16%;
  text-align: center;
  padding: 7px 0px;
  border-radius:12px;
  transition: all 0.3s ease;
  color: white;
  font-size: 30px;
}

.icon-bar a:hover {
  background-color: MediumSeaGreen;
}

.active {
  background-color: dodgerblue;
}






#clock{
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #10101E;
}

.datetime{
  color: #fff;
  background: #10101E;
  font-family: "Segoe UI", sans-serif;
  width: 330px;
  padding: 15px 10px;
  border: 3px solid #2E94E3;
  border-radius: 5px;
  
}

.datetime:hover{
  background: #2E94E3;
  box-shadow: 0 0 30px #2E94E3;
}

.date{
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}

.time{
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time span:not(:last-child){
  position: relative;
  margin: 0 6px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}

.time span:last-child{
  background: #2E94E3;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 10px;
  padding: 0 5px;
  border-radius: 3px;
}
      







.sbc, .vdc, .evc, .exc, .auc{
  height:auto;
  width:100%;
}


.sb, .vd, .ev, .ex, .au{
  text-align:center;
  font-size:40px;
  
  
}

a:link {
  text-decoration: none;
}


b{
  color:Chartreuse;
}

b:hover{
  color:dodgerblue;
  text-decoration:underline;

}
















@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: black;
}

#new-year{
  height: 100%;
  margin: 0;
}

#new-year{
  align-items: center;
  background-color: black;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.container {
  color: white;
  margin: 0 auto;
  text-align: center;
  font-family: 'Lobster', cursive;
}

h1 {
  font-size: 42px;
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: none;
  /*Color: dodgerblue;*/
  background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ffeb3b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

li {
  display: inline-block;
  font-size: 1.1rem;
  list-style-type: none;
  padding: 1em;
  text-transform: none;
  color: white;
  background-color: purple;
  border-radius: 25px;
}

li span {
  display: block;
  font-size: 4.5rem;

}

.emoji {
  display: none;
  /*padding: 1rem;*/
}

/*.emoji span {
  font-size: 1.4rem;
  padding: 0 .5rem;
  color: limegreen;

}*/

#days,
#hours,
#minutes,
#seconds {
  font-size: 40px;
}















* {
  box-sizing: border-box;
}

.size {
  margin: 0;
  min-height: 100vh;
  background: #000;
  display: grid;
  /*align-items: center;*/
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.neon_text {
  color: #fff;
  font-size: 14vw;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: inline-block;
  position: relative;
  background: #000;
  filter: brightness(250%);
  text-align: center;
}


.neon_text::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  right: 0;
  mix-blend-mode: difference;
  filter: blur(1.2px);
}

.neon_text::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, #00ffd0, #d2bbff, #ffd100, #00ffd0);
  mix-blend-mode: multiply;
  animation-name: move;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}


@keyframes move {
  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: 1000px;
  }
}

