@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: black;
}

#new-year{
  height: 100%;
  margin: 0;
}

#new-year{
  align-items: center;
  background-color: black;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.container {
  color: white;
  margin: 0 auto;
  text-align: center;
  font-family: 'Lobster', cursive;
}

h1 {
  font-size: 42px;
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: none;
  /*Color: dodgerblue;*/
  background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ffeb3b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

li {
  display: inline-block;
  /*font-size: 1.1rem;*/
  list-style-type: none;
  padding: 1em;
  text-transform: none;
  color: white;
  background-color: purple;
  border-radius: 25px;
}


#days01, #hours01, #minutes01, #seconds01{
  font-size: 3rem;
}



li span {
  display: block;
  font-size: 4.5rem;

}

.emoji {
  display: none;
  /*padding: 1rem;*/
}

/*.emoji span {
  font-size: 1.4rem;
  padding: 0 .5rem;
  color: limegreen;

}*/

#days,
#hours,
#minutes,
#seconds {
  font-size: 40px;
  
}















* {
  box-sizing: border-box;
}

.size {
  margin: 0;
  /*min-height: 100vh;*/
  background: #000;
  display: grid;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.neon_text {
  color: #fff;
  font-size: 14vw;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: inline-block;
  position: relative;
  background: #000;
  filter: brightness(250%);
  text-align: center;
}


.neon_text::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  right: 0;
  mix-blend-mode: difference;
  filter: blur(1.2px);
}

.neon_text::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, #00ffd0, #d2bbff, #ffd100, #00ffd0);
  mix-blend-mode: multiply;
  animation-name: move;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}


@keyframes move {
  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: 1000px;
  }
}
