@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

body{
  background-color: black;
}

* {
  box-sizing: border-box;
}

.size {
  margin: 0;
  /*min-height: 100vh;*/
  background: #000;
  display: grid;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.neon_text {
  color: #fff;
  font-size: 14vw;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: inline-block;
  position: relative;
  background: #000;
  filter: brightness(250%);
  text-align: center;
}


.neon_text::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  right: 0;
  mix-blend-mode: difference;
  filter: blur(1.2px);
}

.neon_text::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, #00ffd0, #d2bbff, #ffd100, #00ffd0);
  mix-blend-mode: multiply;
  animation-name: move;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}


@keyframes move {
  0% {
    background-position-x: 0px;
  }

  100% {
    background-position-x: 1000px;
  }
}
